* {
  margin: 0;
}
body {
  background-color: rgb(41, 41, 41);
  text-align: center;
}
h1 {
  color: rgb(0, 0, 0);
  background-color: #838383;
  padding: 10px;
}

.buttons {
  text-align: center;
  margin: 20px;
}

.buttons * {
  background-color: rgb(167, 167, 167);
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  position: relative;
}
.wrap-input {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.set-input-number {
  width: fit-content;
  display: flex;
  padding: 3px;
  background-color: rgb(167, 167, 167);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  top: -10px;
  left: calc(50% - 25px);
}
.show-cnt-input {
  width: 18px;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
}
.set-input-number span {
  font-weight: bold;
  margin: 0 3px;
}
.set-input-number button {
  border: none;
  padding: 0;
  width: 21px;
  height: 21px;
  font-size: 16px;
  line-height: 100%;
  background-color: rgb(167, 167, 167);
}
.set-input-number button:active {
  background-color: rgb(219, 219, 219);
}

#container-chord-input {
  min-width: 592px;
  min-height: 56px;
  background-color: rgb(124, 124, 124);
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  top: 25px;
}
.chord-line {
  background-color: rgb(167, 167, 167);
  display: flex;
  position: relative;
  padding-left: 20px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 100%;
}
.cell {
  background-color: rgb(236, 236, 236);
  width: 50px;
  height: 20px;
  margin: 3px;
  padding: 3px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
}
.cell input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.handle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.handle:active {
  background-color: #f0f0f0;
}
.btn-del-line {
  width: 34px;
  height: 34px;
  border: none;
  background: none;
  border-radius: 20%;
  font-size: 25px;
  font-weight: bold;
  line-height: 100%;
  padding: 0;
  color: #800800;
}

#container-image {
  width: fit-content;
  height: fit-content;
  min-width: 1048px;
  min-height: 20px;
  background-color: rgb(124, 124, 124);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

#container-image .divider-line {
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
  width: auto;
}

.chord-image {
  width: 125px;
  padding: 3px;
}

.image-line {
  width: auto;
  height: 116px;
}
